[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
cloudstorage = {extras = ["local"], version = "*"}
pandas = "*"
pydantic = "*"
sqlalchemy = "==1.4.39"
pymysql = "*"
apscheduler = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
